<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.mapper.Mapper">
	<resultMap type="com.mybatis.models.User" id="User">
		<result property="username" column="username" />
		<result property="password" column="password" />
	</resultMap>

	<select id="getAllUsers" resultMap="User">
		SELECT * FROM User
	</select>

	<resultMap type="com.mybatis.models.User" id="UserSP">
		<result property="username" column="username" javaType="String"  jdbcType="VARCHAR"/>
		<result property="password" column="password" javaType="String" jdbcType="VARCHAR"/>
	</resultMap>

	<select id="getAllUsersSP" resultMap="UserSP"
		statementType="CALLABLE">
		{ Call simpleuser()}
	</select>

</mapper>